body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
                /*-------------- HEADER------------------ */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.header-nav-color {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
    color: #404bbf;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contacts-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus{
    color: #404bbf;
}

                        /*-------------------------------- */
                        /*-------------- SOLUTION------------------ */
.solution {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.solution-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-bottom: 48px;
    max-width: 496px;
    margin:auto;
}

.solution-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;    
}
.solution-btn:hover,
.solution-btn:focus{
    background-color: #404BBF;
}

                                /*-------------------------------- */
                                 /*--------------FEATURES------------------ */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    max-width: 264px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

                                    /*-------------------------------- */
                                    /*--------------TEAM------------------ */

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-taitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.container-team-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    background: #fff;
}

.team-image {
    display: block;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

                            /*-------------------------------- */
                            /*--------------PORTFOLIO------------------ */

.portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-taitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {}

.portfolio-image {
    display: block;
}

.subtitle-text-container {
    width: 360px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    margin-top: -5px;
   
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

                        /*-------------------------------- */
                        /*--------------FOOTER------------------ */

.footer {
    background: #2e2f42;
    padding: 100px 0px 100px;
}

/*.footer-container {
    width: 264px;
}*/

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-color {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
}
